.main {
    margin: 0 auto;
    width: 100%;
    padding: 2rem 2.5rem;
    background-color: #E5E4E4;
}

/* Page Header */
.page_header {
    font-size: 2.5rem;
}


/* Results Area */
.no_course {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-style: italic;
}

.results_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(20rem, auto); /* Adjust the minimum height as needed */
    margin-top: 2rem;
    padding: 0.5rem;
}

/* End Results Area */

/* Media Query for screens 1280px and below (typical tablets and mobile devices) */
@media (max-width: 1280px) {
    .main {
        padding: 1rem;
    }
    
    .results_container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 1024px) {
    .main {
        padding: 1rem;
    }

    .results_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .main {
        padding: 1rem;
    }
    
    .results_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media Query for screens 320px and below (typical mobile devices) */
@media (max-width: 480px) {
    .main {
        padding: 1rem;
    }

    .page_header{
        font-size: 2rem;
    }

    .results_container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 320px) {
    .results_container {
        padding: 0;
    }

    .page_header {
        font-size: 1.5rem;
    }
}